@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #0A1D56;
    --primary-color: #37B5B6;
}

body{
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family);
    margin: 0;
    text-transform: uppercase;
}

main{
    border: 2px solid var(--primary-color);
    padding: 2%;
    margin: 1%;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
    margin-top: 20px;
}

h5{
    margin: 2%;
    font-size: 1em;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
}

.box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn_jogar{
    padding: 8px 15px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
}

.btn_jogar:hover{
    background-color: var(--primary-color);
    padding: 10px;
    font-weight: 700;
    box-shadow: 0px 0px 2px  var(--primary-color), 
                0px 0px 9px var(--primary-color),
                0px 0px 15px var(--primary-color);
}